<div class="form-group" *ngIf="icon">
  <label *ngIf="label" [for]="id" class="form-label">{{ label }}</label>
  <div class="input-group">
    <div *ngIf="iconPosition === 'left'" class="input-group-prepend">
      <span class="input-group-text">
        <i [class]="icon"></i>
      </span>
    </div>

    <textarea [class]="class" [id]="id" [disabled]="disabled" (change)="handleValueChange($event)" [placeholder]="placeholder">{{value}}</textarea>

    <div *ngIf="iconPosition === 'right'" class="input-group-append">
      <span class="input-group-text">
        <i [class]="icon"></i>
      </span>
    </div>
  </div>
</div>

<div class="form-group" *ngIf="!icon">
  <label *ngIf="label" [for]="id" class="form-label">{{ label }}</label>
  <textarea [class]="class" [id]="id" [disabled]="disabled" (change)="handleValueChange($event)" [placeholder]="placeholder">{{value}}</textarea>
</div>
