<div class="modal fade" data-backdrop="static" data-keyboard="false" id="{{modalId}}" tabindex="-1" aria-labelledby="dynamicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-{{size}}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dynamicModalLabel">{{title}}</h5>
        <button type="button" class="btn-close btn btn-outline-danger btn-sm" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <ng-container *ngIf="steps && steps.length > 0; else noContent">
            <div class="row" #dynamicContainer></div>
          </ng-container>
          <ng-template #noContent>
            <p class="text-muted text-center">Yüklənəcək məzmun yoxdur.</p>
          </ng-template>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" style="float: left" data-bs-dismiss="modal" (click)="closeModal()">Bağla</button>
          <button type="submit" class="btn btn-success" [disabled]="form.invalid">Yadda saxla</button> <!-- Form submit -->
        </div>
      </form>
    </div>
  </div>
</div>
