<div class="form-group">
  <label *ngIf="label" [for]="id" class="form-label">{{ label }}</label>
  <div *ngIf="icon" class="input-group">
    <div *ngIf="iconPosition === 'left'" class="input-group-prepend">
      <span class="input-group-text">
        <i [class]="icon"></i>
      </span>
    </div>

    <select
      [class]="dynamicClass"
      [id]="id"
      [disabled]="disabled"
      [multiple]="multiple"
      [value]="value"
      [attr.data-placeholder]="placeholder"
      (change)="handleValueChange($event)"
    >
      <option *ngFor="let option of options" [value]="option.value">{{ option.text }}</option>
    </select>

    <div *ngIf="iconPosition === 'right'" class="input-group-append">
      <span class="input-group-text">
        <i [class]="icon"></i>
      </span>
    </div>
  </div>

  <select
    *ngIf="!icon"
    [class]="dynamicClass"
    [id]="id"
    [disabled]="disabled"
    [multiple]="multiple"
    [value]="value"
    [attr.data-placeholder]="placeholder"
    (change)="handleValueChange($event)"
  >
    <option *ngFor="let option of options" [value]="option.value" [selected]="value == option.value">{{ option.text }}</option>
  </select>
</div>
